<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub GennadyBr</title>
    <link href="./normalize.css" rel="stylesheet"/>
    <link href="./style.css" rel="stylesheet"/>
</head>
<body>

<header class="header">
    <img src="me2.jpg" alt="avatar" class="header__avatar" width=300 height=300/>
    <h1 class="header__title">Геннадий</h1>
    <h3 class="header__subtitle">Python Backend Developer (FastAPI, Django, Docker, PostgreSQL, Redis, ElasticSearch)</h3>
</header>
<figure class="table">
    <table>
        <tbody>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <h2>МОИ КОНТАКТЫ</h3>
		    <p><a href="tel:+79852188596" target="_blank" rel="noopener noreferrer"><img src="https://img.shields.io/badge/+7_985_218_8596-phone-red?style=for-the-badge&logo=flask&logoColor=white"></a>
                    <a href="mailto:bgs12@mail.ru" target="_blank" rel="noopener noreferrer"><img src="https://img.shields.io/badge/bgs12@mail.ru-mail.ru-%231877F2.svg?style=for-the-badge&logo=gmail&logoColor=white"></a>
                    <a href="https://t.me/gennady_12" target="_blank" rel="noopener noreferrer"><img src="https://img.shields.io/badge/@gennady_12-Telegram-2CA5E0?style=for-the-badge&logo=telegram&logoColor=white"></a></p>
                    <p><a href="https://github.com/GennadyBr" target="_blank" rel="noopener noreferrer"><img src="https://img.shields.io/badge/gennadybr-github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"></a></p>

                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <h2>
                    <strong>ЯЗЫК И ТЕХНОЛОГИИ</strong><br><br>
		<img src="https://img.shields.io/badge/fastapi-109989?style=for-the-badge&logo=FASTAPI&logoColor=white">
		<img src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=green">
		<img src="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white">
		<img src="https://img.shields.io/badge/iohttp-%232C5bb4.svg?style=for-the-badge&logo=aiohttp&logoColor=white">
		<img src="https://img.shields.io/badge/asyncio-000000?style=for-the-badge&logo=python&logoColor=white">
		<img src="https://img.shields.io/badge/OAuth2-808080?style=for-the-badge&logo=python&logoColor=white">
		<br><br>
		<img src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white">
		<img src="https://img.shields.io/badge/SQLite-07405E?style=for-the-badge&logo=sqlite&logoColor=white">
		<img src="https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=for-the-badge&logo=mongodb&logoColor=white">
		<img src="https://img.shields.io/badge/-ElasticSearch-005571?style=for-the-badge&logo=elasticsearch">
		<img src="https://img.shields.io/badge/Rabbitmq-FF6600?style=for-the-badge&logo=rabbitmq&logoColor=white">
		<img src="https://img.shields.io/badge/Apache%20Kafka-000?style=for-the-badge&logo=apachekafka">
		<img src="https://img.shields.io/badge/Redis-E34F26?style=for-the-badge&logo=redis&logoColor=white">
		<br><br>
		<img src="https://img.shields.io/badge/Celery-3776AB?style=for-the-badge&logo=celery&logoColor=white">
		<img src="https://img.shields.io/badge/Apache%20Airflow-017CEE?style=for-the-badge&logo=Apache%20Airflow&logoColor=white">
		<img src="https://img.shields.io/badge/Jaeger-3776AB?style=for-the-badge&logo=battle.net&logoColor=white">
		<br><br>
		<img src="https://img.shields.io/badge/Docker-2CA5E0?style=for-the-badge&logo=docker&logoColor=white">
		<img src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&logo=git&logoColor=white">
		<br><br>
		<img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white">
		<img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white">
		<img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white">
                    </h2>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <h2><strong>МОИ ПРОЕКТЫ</strong></h2>
                    <p>- все проекты развернуты на VPS&nbsp;</p>
                    <p>- микросервисная архитектура&nbsp;</p>
                    <p>- обратное проксирование NGINX&nbsp;</p>
                    <p></p>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <h3>
                    <strong style="text-transform:uppercase;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="http://5.35.83.245/auth_api/openapi" target="_blank" rel="noopener noreferrer">
                    СеРВИС АВТОРИЗАЦИИ И АУТЕНТИФИКАЦИИ</a>
                    &nbsp;
                    <a href="http://5.35.83.245/auth_api/openapi" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.shields.io/badge/Google-4285F4?style=for-the-badge&logo=GoogleChrome&logoColor=white" height="15"></a>
                    &nbsp;
                    <a href="https://github.com/GennadyBr/FastAPI_OAuth2_Redis_Jaeger_Postgres" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" height="15"></a>
                    </strong>
                    </h3>
                    <h4><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    	<img src="https://img.shields.io/badge/fastapi-109989?style=for-the-badge&logo=FASTAPI&logoColor=white">
			<img src="https://img.shields.io/badge/OAuth2-808080?style=for-the-badge&logo=python&logoColor=white">
			<img src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white">
			<img src="https://img.shields.io/badge/Redis-E34F26?style=for-the-badge&logo=redis&logoColor=white">
			<img src="https://img.shields.io/badge/Jaeger-3776AB?style=for-the-badge&logo=battle.net&logoColor=white">
			</strong></h4>
                    <h4><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сервис предназначения для регистрации пользователей, хранения их аутентификационных данных, выдачи токенов доступа</strong></h4>
			<pre></pre>
			<pre>      - API реализована в FastAPI</pre>
			<pre>      - JWT токены хранятся в REDIS</pre>
			<pre>      - Сервис включает в себя управление ролями пользователей, которые хранятся в PostrgreSQL</pre>
			<pre>      - реализована (<a href="http://5.35.83.245:16686">трассировка в Jaeger</a>)</pre>
			<pre>      - логирование в logging</pre>
			<pre>      - линтер flake8</pre>
			<pre>      - .env и docker-compose.override.yml присутствуют в демонстрационных целях</pre>
			<pre>      - проект упакован в Docker Compose и запущен на VPS</pre>
			<p></p>
                    <p>&nbsp;</p>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <h3><strong style="text-transform:uppercase;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="http://5.35.83.245:8000/admin" target="_blank" rel="noopener noreferrer">
                    Сервис полнотекстового поиска Elasticsearch + Django Admin Panel</a>
                    &nbsp;
                    <a href="http://5.35.83.245:8000/admin" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.shields.io/badge/Google-4285F4?style=for-the-badge&logo=GoogleChrome&logoColor=white" height="15"></a>
                    &nbsp;
                    <a href="https://github.com/GennadyBr/DjangoAdmin_PostgreSQL_2_ElasticSeach" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" height="15"></a>
                    </strong></h3>
                    <h4><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FastAPI, OAuth2, PostgreSQL, Redis, Jaeger</strong></h4>
                    <h4><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сервис предназначения для регистрации пользователей, хранения их аутентификационных данных, выдачи токенов доступа</strong></h4>
			<pre></pre>
			<pre>      - API реализована в FastAPI</pre>
			<pre>      - JWT токены хранятся в REDIS</pre>
			<pre>      - Сервис включает в себя управление ролями пользователей, которые хранятся в PostrgreSQL</pre>
			<pre>      - реализована (<a href="http://5.35.83.245:16686">трассировка в Jaeger</a>)</pre>
			<pre>      - логирование в logging</pre>
			<pre>      - линтер flake8</pre>
			<pre>      - .env и docker-compose.override.yml присутствуют в демонстрационных целях</pre>
			<pre>      - проект упакован в Docker Compose и запущен на VPS</pre>
			<p></p>
                    <p>&nbsp;</p>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <h3><strong style="text-transform:uppercase;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="http://5.35.83.245:8080/home" target="_blank" rel="noopener noreferrer">
                    ETL сервис на Airflow</a>
                    &nbsp;
                    <a href="http://5.35.83.245:8080/home" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.shields.io/badge/Google-4285F4?style=for-the-badge&logo=GoogleChrome&logoColor=white" height="15"></a>
                    &nbsp;
                    <a href="https://github.com/GennadyBr/Apache_Airflow_1" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" height="15"></a>
                    </strong></h3>
                    <h4><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FastAPI, OAuth2, PostgreSQL, Redis, Jaeger</strong></h4>
                    <h4><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сервис предназначения для регистрации пользователей, хранения их аутентификационных данных, выдачи токенов доступа</strong></h4>
			<pre></pre>
			<pre>      - API реализована в FastAPI</pre>
			<pre>      - JWT токены хранятся в REDIS</pre>
			<pre>      - Сервис включает в себя управление ролями пользователей, которые хранятся в PostrgreSQL</pre>
			<pre>      - реализована (<a href="http://5.35.83.245:16686">трассировка в Jaeger</a>)</pre>
			<pre>      - логирование в logging</pre>
			<pre>      - линтер flake8</pre>
			<pre>      - .env и docker-compose.override.yml присутствуют в демонстрационных целях</pre>
			<pre>      - проект упакован в Docker Compose и запущен на VPS</pre>
			<p></p>
                    <p>&nbsp;</p>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <h3><strong style="text-transform:uppercase;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="http://5.35.83.245/flask_mongo_app" target="_blank" rel="noopener noreferrer">
                    Мини API на Flask с MongoDB</a>
                    &nbsp;
                    <a href="http://5.35.83.245/flask_mongo_app" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.shields.io/badge/Google-4285F4?style=for-the-badge&logo=GoogleChrome&logoColor=white" height="15"></a>
                    &nbsp;
                    <a href="https://github.com/GennadyBr/Flask_MongoDB_1" target="_blank" rel="noopener noreferrer">
                    <img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" height="15"></a>
                    </strong></h3>
                    <h4><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white">
                    <img src="https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=for-the-badge&logo=mongodb&logoColor=white">
                    </strong></h4>
                    <h4><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Простое приложение на Flask c редактированием данных в MongoDB</strong></h4>
			<pre></pre>
			<pre>      - CRUD операции удобно реализованы на HTML странице</pre>
			<pre>      - дополнительно реализована фича контроля памяти</pre>
			<pre>      - логирование с помощью logging</pre>
			<pre>      - линтер flake8</pre>
			<pre>      - .env и docker-compose.override.yml присутствуют в демонстрационных целях</pre>
			<pre>      - проект упакован в Docker Compose и запущен на VPS</pre>
			<p></p>
                    <p>&nbsp;</p>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <h2>СТАТИСТИКА GITHUB<br><br><img src="https://github-readme-streak-stats.herokuapp.com/?user=GennadyBr&amp;theme=dark)](https://git.io/streak-stats" alt="" width="495" height="195"></h2>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><br><img src="https://github-profile-summary-cards.vercel.app/api/cards/productive-time?username=GennadyBr&amp;theme=solarized_dark" alt="" width="340" height="200"></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><br><img src="https://komarev.com/ghpvc/?username=GennadyBr&amp;color=dc143c" alt="" width="125" height="20"></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</figure>
</body>
</html>
