<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub GennadyBr</title>
    <link href="./normalize.css" rel="stylesheet"/>
    <link href="./style.css" rel="stylesheet"/>
</head>
<body>

<header class="header">
    <img src="me2.jpg" alt="avatar" class="header__avatar" width=300 height=300/>
    <h1 class="header__title">Геннадий</h1>
    <h3 class="header__subtitle">Python Backend Developer (FastAPI, Django, Docker, PostgreSQL, Git, Redis)</h3>
</header>

<p>&nbsp;</p>
<h3 class="header__subtitle">МОИ КОНТАКТЫ</h3>
<p>- телефон +7-985-218-8596</p>
<p>- email: <a href="mailto:bgs12@mail.ru">bgs12@mail.ru</a></p>
<p>- телеграмм: @gennady_12</p>
<h3 class="header__subtitle">&nbsp;</h3>
<h3 class="header__subtitle">МОИ ПРОЕКТЫ</h3>
<h3 class="header__subtitle"><br/>- Сервис авторизации и аутентификации (<a href="http://5.35.83.245/auth_api/openapi">сайт</a>)
    (<a href="https://github.com/GennadyBr/FastAPI_OAuth2_Redis_Jaeger_Postgres">github</a>)</h3>
<h3 class="header__subtitle">- Сервис полнотекстового поиска по базе + Django Admin Panel (<a
        href="http://5.35.83.245:8000/admin">сайт</a>) (<a
        href="https://github.com/GennadyBr/DjangoAdmin_PostgreSQL_2_ElasticSeach">github</a>)</h3>
<h3 class="header__subtitle">- ETL сервис на Airflow (<a href="http://5.35.83.245:8080/home">сайт</a>) (<a
        href="https://github.com/GennadyBr/Apache_Airflow_1">github</a>)</h3>
<h3 class="header__subtitle">- Мини API на Flask с MongoDB (<a href="http://5.35.83.245:8081">сайт</a>) (<a
        href="https://github.com/GennadyBr/Flask_MongoDB_1">github</a>)</h3>
<pre><br/><br/></pre>
<h3 class="header__subtitle">ЯЗЫК И ТЕХНОЛОГИИ<br/><br/><img
        src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&amp;logo=python&amp;logoColor=white" alt=""
        width="98" height="28"/> <img
        src="https://img.shields.io/badge/Flask-000000?style=for-the-badge&amp;logo=flask&amp;logoColor=white" alt=""
        width="85" height="28"/> <img
        src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&amp;logo=django&amp;logoColor=green" alt=""
        width="98" height="28"/> <img
        src="https://img.shields.io/badge/fastapi-109989?style=for-the-badge&amp;logo=FASTAPI&amp;logoColor=white"
        alt="" width="101" height="28"/></h3>
<h3 class="header__subtitle"><img
        src="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white"
        alt="" width="131" height="28"/> <img
        src="https://img.shields.io/badge/SQLite-07405E?style=for-the-badge&amp;logo=sqlite&amp;logoColor=white" alt=""
        width="93" height="28"/> <img
        src="https://img.shields.io/badge/Celery-3776AB?style=for-the-badge&amp;logo=celery&amp;logoColor=white" alt=""
        width="94" height="28"/> <img
        src="https://img.shields.io/badge/Redis-E34F26?style=for-the-badge&amp;logo=redis&amp;logoColor=white" alt=""
        width="85" height="28"/></h3>
<h3 class="header__subtitle"><img
        src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&amp;logo=html5&amp;logoColor=white" alt=""
        width="88" height="28"/> <img
        src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&amp;logo=css3&amp;logoColor=white" alt=""
        width="77" height="28"/><br/><img
        src="https://img.shields.io/badge/Docker-2CA5E0?style=for-the-badge&amp;logo=docker&amp;logoColor=white" alt=""
        width="98" height="28"/><br/><br/></h3>
<h3 class="header__subtitle">СТАТИСТИКА GITHUB<br/><br/><img
        src="https://github-readme-streak-stats.herokuapp.com/?user=GennadyBr&amp;theme=dark)](https://git.io/streak-stats"
        alt="" width="495" height="195"/><br/><br/><img
        src="https://github-profile-summary-cards.vercel.app/api/cards/productive-time?username=GennadyBr&amp;theme=solarized_dark"
        alt="" width="340" height="200"/><br/><br/><img
        src="https://komarev.com/ghpvc/?username=GennadyBr&amp;color=dc143c" alt="" width="125"
        height="20"/><br/><br/><br/></h3>
</body>
</html>